<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Data-viz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>


    <link rel=stylesheet type="text/css" href="{% static 'data_visualize/css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <style>

        body {
            font-family: 'Helvetica Neue';
            width: auto;
            height: auto;
            color: #696969;
        }

        #body {
            position: relative;
        }

        .ticks {
            font-size: 10px;
        }

        .track,
        .track-inset,
        .track-overlay {
            stroke-linecap: round;
        }

        .track {
            stroke: #000;
            stroke-opacity: 0.3;
            stroke-width: 10px;
        }

        .track-inset {
            stroke: #dcdcdc;
            stroke-width: 8px;
        }

        .track-overlay {
            pointer-events: stroke;
            stroke-width: 50px;
            stroke: transparent;
            cursor: crosshair;
        }

        .handle {
            fill: #fff;
            stroke: #000;
            stroke-opacity: 0.5;
            stroke-width: 1.25px;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 22px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Visualization</a>
        <a href="prediction">Price Prediction</a>
        <a href="sentiline">Sentiment Analysis</a>
        <a href="#about">About</a>
    </div>
    <br>

    <div class="container">
        <h2>Data-Viz</h2>
        <br>
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <button class="nav-link " data-toggle="pill" onclick="location.href='index';">Home</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-toggle="pill" onclick="location.href='candle';">Candle-chart</button>
            </li>

            <li class="nav-item">
                <button class="nav-link active" data-toggle="pill" href="#">Bubblecharts</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-toggle="pill" onclick="location.href='cf';">Crossfilter</button>
            </li>


        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>BubbleChart</h3>

                <div id="slider"></div>


            <script>
                var startDate = new Date("2013-04-28"),
                    endDate = new Date("2017-12-24");

                var dataset;

                var formatDateIntoYear = d3.timeFormat("%Y");
                var formatDate = d3.timeFormat("%d %b, %Y");
                var formatBubble = d3.timeFormat("%d\/%m\/%Y");
                var parseTime = d3.timeParse("%d/%m/%Y");


                var margin = {top: 40, right: 100, bottom: 0, left: 50},
                    width = 750 - margin.left - margin.right,
                    height = 150 - margin.top - margin.bottom;

                var margin1 = {top: 00, right: 50, bottom: 0, left: 100},
                    w = 800 - margin.left - margin.right,
                    h = 700 - margin.top - margin.bottom;
                var x = d3.scaleTime()
                    .domain([startDate, endDate])
                    .range([0, width])
                    .clamp(true);


                var svgSlider = d3.select('#slider')
                    .append("svg")
                    .attr("width", width + margin.right)
                    .attr("height", height);

                var svg = d3.select('body').append('svg').attr('width', w + margin.left + margin.right).attr('height', h + margin.top + margin.bottom);


                var format = d3.format(",d");

                var color = d3.scaleOrdinal(d3.schemeCategory20c);

                var pack = d3.pack().size([w / 1.5, h / 1.5])
                    .padding(3.5);

                var tooltip = d3.select("body")
                    .append("div")
                    .style("position", "absolute")
                    .style("z-index", "10")
                    .style("visibility", "hidden")
                    .style("color", "white")
                    .style("padding", "8px")
                    .style("background-color", "rgba(0, 0, 0, 0.75)")
                    .style("border-radius", "6px")
                    .style("font", "12px sans-serif")
                    .text("tooltip");


                var slider = svgSlider.append("g")
                    .attr("class", "slider")
                    .attr("transform", "translate(" + margin.left + "," + height / 4 + ")");
                var g = svg.append('g')
                    .attr('transform',
                        'translate(' + margin.left + ',' + margin.top + ')');

                slider.append("line")
                    .attr("class", "track")
                    .attr("x1", x.range()[0])
                    .attr("x2", x.range()[1])
                    .select(function () {
                        return this.parentNode.appendChild(this.cloneNode(true));
                    })
                    .attr("class", "track-inset")
                    .select(function () {
                        return this.parentNode.appendChild(this.cloneNode(true));
                    })
                    .attr("class", "track-overlay")
                    .call(d3.drag()
                        .on("start.interrupt", function () {
                            slider.interrupt();
                        })
                        .on("start drag", function () {
                            update(x.invert(d3.event.x));
                        }));


                slider.insert("g", ".track-overlay")
                    .attr("class", "ticks")
                    .attr("transform", "translate(0," + 15 + ")")
                    .selectAll("text")
                    .data(x.ticks(10))
                    .enter()
                    .append("text")
                    .attr("x", x)
                    .attr("y", 10)
                    .attr("text-anchor", "middle")
                    .text(function (d) {
                        return formatDateIntoYear(d);
                    });


                var handle = slider.insert("circle", ".track-overlay")
                    .attr("class", "handle")
                    .attr("r", 9);


                var label = slider.append("text")
                    .attr("class", "label")
                    .attr("text-anchor", "middle").text(formatDate(startDate))

                    .attr("transform", "translate(0," + (-15) + ")");


                var inputDate = new Date('2013-04-28');

                console.log(formatBubble(inputDate));
                var option;
                var bubble;


                var data='{{ data }}';
                data = JSON.parse(data.replace(/&quot;/g, '"'));
                dataset=data;
                drawBubble(dataset);

                function drawBubble(data) {
                    option = data.filter(function (d) {
                        return d.date == formatBubble(inputDate);
                    });

                    var root = d3.hierarchy({children: option})
                        .sum(function (d) {
                            return d.market_cap;
                        })
                        .sort(function (a, b) {
                                return b.market_cap - a.market_cap;
                            }
                        )
                        .each(function (d) {
                            if (coin = d.data.coin) {
                                var coin
                                d.coin = coin;
                            }
                            if (market_cap = d.data.market_cap) {
                                var market_cap
                                d.market_cap = market_cap;
                            }
                            if (date = d.data.date) {
                                var date
                                d.date = date;
                            }

                        })
                    ;
                    bubble = svg.selectAll(".bubble")
                        .data(pack(root).leaves())
                        .enter().append("g")
                        .attr("class", function (d) {
                            return d.children ? "node" : "leaf node";
                        })
                        .attr("transform", function (d) {
                            return "translate(" + d.x + "," + d.y + ")";
                        });

                    //for displaying bubble

                    bubble.append("circle")
                        .attr("r", function (d) {
                            return (d.r);
                        })
                        .style("fill", function (d) {
                            return color(d.coin)
                        }).on("mouseover", function (d) {
                        tooltip.text("Date:" + formatDate(parseTime(d.date)) + "\n" + "Coin:" + (d.coin) + "\n\n" +
                            "Market Capital:" + "\n" + (d.market_cap));
                        tooltip.style("visibility", "visible");
                    })
                        .on("mousemove", function () {
                            return tooltip.style("top", (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px");
                        })
                        .on("mouseout", function () {
                            return tooltip.style("visibility", "hidden");
                        });

                    bubble.append("text")
                        .attr("dy", ".3em")
                        .style("text-anchor", "middle")
                        .text(function (d) {
                            return d.data.coin.substring(0, d.r / 3);
                        });
                };

                function update(h) {
                    bubble.selectAll("*").remove();
                    handle.attr("cx", x(h));
                    label
                        .attr("x", x(h))
                        .text(formatDate(h));
                    inputDate = h;
                    drawBubble(dataset);
                }

                ;
            </script>
        </div>
    </div>
</body>